<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{META_TITLE}</title>

        <meta name="keywords"    content="{META_KEYWORDS}" />
        <meta name="description" content="{META_DESCRIPTION}" />	

        <meta name="viewport" content="width=100%" />
        
        <link rel="stylesheet" media="all" href="{_PATH_HTML_}css/main.css"/>
        <link rel="stylesheet" media="all" href="{_PATH_HTML_}css/layout.css"/>
        <link rel="stylesheet" media="all" href="{_PATH_HTML_}css/mobile.css"/>
        
        <script>
            const apiUrl = '{_PATH_API_}';
            const domain = '{_DOMAIN_}';
            const homeUrl = '{_HOME_URL_}';
        </script>
			
        <script src="{_PATH_HTML_}js/client.js"></script>
    </head>
	
    <body>
        <header>
            <div class="block-center">
                <div class="header-wrap">
                    <div class="left">
                        <a class="logo" href="{_HOME_URL_}">Logo</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="block-center block-main">
            {CONTENT}
        </div>

        <footer>
            <div class="block-center">
                <div class="footer-wrap">
                    <div class="copyrights">&copy; {_YEAR_} R8 Test Task</div>
                </div>
            </div>
        </footer>
    </body>
</html>