@media screen and (max-width: 1100px){
    header .header-wrap .left {
        flex-direction: column;
    }

    .block-main {
        padding-top: 130px;
    }
}

@media screen and (max-width: 990px){
    header nav {
        display: none;
    }

    .block-center, .bg-block-center {
        padding-left: 20px;
        padding-right: 20px;
    }
}